.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: calc(100vh - 60px);

    img {
        object-fit: contain;
        max-height: 70px;
        height: 18vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        width: 100%;

        input {
            height: 50px;
            font-size: 20px;
            padding-left: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        button {
            max-width: 350px;
            height: 50px;
            font-size: large;
            color: #fff;
            background-color: #0074b1;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    p {
        margin-top: 20px;
        .login__register {
            cursor: pointer;
            color: #0177b7;
        }
    }
}

@media screen and (max-width: 450px) {
    .login {
        form {
            input {
                font-size: 16px;

                &::placeholder {
                    font-size: 14px;
                }
            }
        }
    }
}
