.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
    color: gray;
    padding: 10px;

    &:hover {
        background-color: whitesmoke;
        border-radius: 10px;
    }

    h4 {
        margin-left: 5px;
    }
}