.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 8px;
    width: 100%;
    z-index: 999;
    &__left {
        display: flex;
        > svg {
            color: #0a66c2;
            height: 51px;
            width: 51px;
            margin-right: 4px;
        }

        .header__search {
            padding: 10px;
            margin-top: 5px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            height: 40px;
            color: gray;
            background-color: #eef3f8;

            input {
                outline: none;
                border: none;
                background: none;
                color: gray;
            }
        }
    }

    &__right {
        display: flex;
    }
}
