.homePage {
    display: flex;
    margin: 35px 20px 20px 20px;
    max-width: 1128px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .homePage {
        max-width: 960px;
    }
}

@media screen and (max-width: 1024px) {
    .homePage {
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .homePage {
        flex-direction: column;
        max-width: 80vw;
        .widgets {
            display: none;
        }
    }
}
